body {
  background-color: rgb(255, 255, 255);
}

header {
  display: flex;
  background-color: #2a5f28;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  height: 10vh;
  margin-top: 0;
}

p {
  margin: 0;
  padding: 0;
}

.title p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
}

.text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.text:hover {
  color: rgb(97, 251, 123);
  cursor: pointer;
}

.navtext2 {
  margin: 0px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 
.titleWrapper { */
/* padding: 20px 0; */
/* text-align: center; */
/* } */

/* .Button {
  background-color: rgb(97, 251, 148);
  color: rgb(40, 44, 52);
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  min-width: 100px;
} */
